<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://developers.redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="40px" alt="Red Hat Developer Program"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Books</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">CheatSheets</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">CheatSheet A</a>
            <a class="navbar-item" href="#">CheatSheet B</a>
            <a class="navbar-item" href="#">CheatSheet C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Upcoming Events</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Event A</a>
            <a class="navbar-item" href="#">Event B</a>
            <a class="navbar-item" href="#">Event C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">More Tutorials</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Tutorial A</a>
            <a class="navbar-item" href="#">Tutorial B</a>
            <a class="navbar-item" href="#">Tutorial C</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
